@import '../../styles/variables.scss';

.allvehicles{
    margin-left: 250px;
  .info{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btnhead{
    padding: 10px;
    color: $dark-color;
    border: none;
    border-radius: 5px; 
    
  }
}