.allvehicledata{
    .datagrid{
        background-color: rgb(255, 255, 255);
        padding: 20px;
        .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
        }
        
    }
  
}